.App {
  font-family: sans-serif;
  text-align: center;
}

.display-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  gap: 1;
}

.cat-btn {
  flex: 1 0 20%;
  margin: 2rem;
  padding: 4em;
  border: 0.1rem solid #4d4d4d;
  cursor: pointer;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  transition: all ease 250ms;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 20%;
  max-height: 5em;
  max-width: 20%;
}

.cat-btn-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.cat-btn-info h3 {
  display: blocK;
  max-width: 10%;
}

.cat-btn:hover,
.cat-btn:focus {
  transform: scale(1.1);
}

.remove-category {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}
