.dashboard__btn {
  font-size: 14px;
  border: none;
  color: white;
  background-color: #4d4d4d;
  padding: 0.8rem 1rem 0.7rem;
  border: 0.1rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 10px;
  text-align: center;
  align-self: center;
  flex-grow: 1;
}

.return-btn {
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  padding-top: 0.55em;
  margin: 0;
  display: inline-block;
}

.dashboard__btn:hover,
.dashboard__btn:focus {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  transition: ease-in-out 0.3s;
}

.home-header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0;
  background-color: #ffffff;
  z-index: 1;
  display: block;
}

.header-container {
  padding: 1.5rem 2rem 2rem 2rem;
  height: 6rem;
  border-radius: 0.5rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
}
