.dashboard__btn {
  font-size: 14px;
  border: none;
  color: white;
  background-color: #4d4d4d;
  padding: 0.8rem 1rem 0.7rem;
  border: 0.1rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 10px;
  position: fixed;
  top: 1.8px;
  right: 2px;
}

.return-btn {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  top: 1.2rem;
  left: 2rem;
  transform: scale(2.5);
  transition: 250ms ease;
}

.return-btn:hover,
.return-btn:focus {
  transform: scale(3);
}

.dashboard__btn:hover,
.dashboard__btn:focus {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  transition: ease-in-out 0.3s;
}

.home-header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0;
  background-color: #ffffff;
  z-index: 1;
}

.header-container {
  padding: 0rem 1rem 2rem 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  text-align: center;
}
