.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login__container:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  transition: ease-in-out 0.5s;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.login__btn {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #24b9d3c1;
}

.login__btn:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 7px;
}

.login__textBox {
  border-radius: 10px;
}
