*,
*::before,
*::after {
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
  transition: all 0.1s;
}

*:focus {
  outline: none;
}

html {
  font: 62.5% / 1.15 sans-serif;
  height: 100vh;
  overflow-y: hidden;
}

body {
  background-color: #1b1b1b;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  margin: auto;
}

h1,
h2 {
  margin-bottom: 0;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 96%);
  color: #444343;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.1rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
}

[class*="stack"] > * {
  margin-bottom: 0;
}

.btn.toggle-btn {
  display: block;
  border-width: 1px;
  border-color: #d3d3d3;
  transition: 250ms ease;
  margin-bottom: 3em;
}

.category-list-container {
  display: flex;
  flex: 1 0 20%;
  height: 80vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3em;
  margin-top: 4em;
}

.btn-display {
  display: flex;
  gap: 1em;
  flex-grow: 10;
}

.header-logo-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-left: 1em;
}

.feedback-cat {
  width: 30vw;
  max-height: 8vh;
  position: absolute;
  left: 35%;
  right: 50%;
  margin: auto;
  top: 20%;
  background: white;
  border-radius: 6px;
  font-size: 2em;
  text-align: center;
  padding: 1em;
  border: none;
  box-shadow: 0px 6px 10px rgba(237, 154, 154, 0.25);
  background-color: #e5e5e5;
  z-index: 1;
}

.feedback-cat p {
  padding: 0;
  margin: 0;
}

.list-adding-books {
  flex: 1 0 20%;
  padding: 0.8rem 2rem 0.7rem;
  border: 0.1rem solid #4d4d4d;
  height: 6em;
  max-width: 60%;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d3d3d3;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.371);
  transition: all ease 250ms;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

form {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.book-input {
  max-height: 2%;
  width: 70vw;
  background: white;
  border-radius: 6px;
  font-size: 2em;
  text-align: center;
  padding: 1em;
  margin: auto;
  border: none;
  box-shadow: 0px 6px 10px rgba(237, 154, 154, 0.25);
  background-color: #e5e5e5;
}

.display-unique {
  max-width: 70%;
  text-align: center;
  margin: auto;
}

.book-input:focus {
  outline: none;
}
.display-books {
  overflow-y: auto;
  -ms-overflow-style: none;
}

.display-categories-display {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-height: 70vh;
  max-width: 70vw;
  min-width: 70vw;
  background: transparent;
}
.display-categories-display::-webkit-scrollbar {
  display: none;
}

.display-category-list {
  flex: 1 0 25%;
  max-width: 20vw;
  height: auto;
  font-size: 10px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  border-width: 1px;
  cursor: pointer;
  margin: auto;
  transition: all 0.5s;
  border-color: #d3d3d3;
  background-color: #e5e5e5;
  max-height: 6.1rem;
  min-height: 4rem;
  -ms-overflow-style: none;
  overflow: hidden;
  max-width: 79vw;
  border: solid 1px rgba(153, 150, 155, 0.5);
}

.cat-title-categories {
  display: block;
  min-width: 70vw;
}

.display-books::-webkit-scrollbar {
  display: none;
}

.cat-title {
  margin: 0;
  text-align: center;
  align-self: start;
}

.boxed-results::-webkit-scrollbar {
  display: none;
}

.list-item {
  flex: 1 0 20%;
  padding: 2rem 1rem 2rem 1rem;
  cursor: pointer;
  transition: all ease 250ms;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.each-flex-container:hover,
.each-flex-container:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.each-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 12em;
  width: 15em;
  flex: 1 0 20%;
  max-width: 20vw;
  transition: all 250ms ease;
  border: 0.1rem solid #4d4d4d;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.371);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.bookinfo-display-container {
  display: flex;
  height: 100%;
  width: 90%;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}

.display-info:hover,
.display-info:focus {
  cursor: pointer;
}

.display-info li:hover,
.display-info li:focus {
  cursor: pointer;
}

.search-results {
  flex: 1 0 25%;
  max-width: 20vw;
  height: auto;
  padding: 0.2rem 1rem 0.7rem;
  font-size: 10px;
  text-align: center;
  align-items: center;
  border-width: 1px;
  cursor: pointer;
  margin: auto;
  transition: all 0.5s;
  border-color: #d3d3d3;
  max-height: 6.1rem;
  min-height: 4rem;
  -ms-overflow-style: none;
  overflow: hidden;
  max-width: 79vw;
  border: solid 1px rgba(153, 150, 155, 0.5);
  backdrop-filter: blur(5px);
}

.remove-book-list {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  cursor: pointer;
}
.search-results::-webkit-scrollbar {
  display: none;
}

.list-item::-webkit-scrollbar {
  display: none;
}

.display-info {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 7;
  margin: 0.5em;
  gap: 0.3em;
}

.update-button {
  cursor: pointer;
  position: fixed;
  display: inline-block;
  top: 0;
  right: 2rem;
  margin-top: 7rem;
  display: inline-block;
  padding: 0.4em 1em 0.4em;
  border: 0.1em solid #4d4d4d;
  text-transform: capitalize;
  border-radius: 10px;
  transition: 250ms ease;
}

.edit-button {
  cursor: pointer;
  position: fixed;
  display: inline-block;
  top: 0;
  right: 2rem;
  margin-top: 10rem;
  display: inline-block;
  padding: 0.4em 1em 0.4em;
  border: 0.1em solid #4d4d4d;
  text-transform: capitalize;
  border-radius: 10px;
  transition: 250ms ease;
}

.edit-button:hover,
.edit-button:focus {
  background-color: rgba(0, 140, 255, 0.699);
  color: white;
  border: 0.1em solid rgba(0, 140, 255, 0.699);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.sort-button {
  cursor: pointer;
  position: fixed;
  display: inline-block;
  top: 0;
  right: 2rem;
  margin-top: 13rem;
  display: inline-block;
  padding: 0.4em 1em 0.4em;
  border: 0.1em solid #4d4d4d;
  text-transform: capitalize;
  border-radius: 10px;
  transition: 250ms ease;
}

.sort-button:hover,
.sort-button:focus {
  background-color: rgba(0, 140, 255, 0.699);
  color: white;
  border: 0.1em solid rgba(0, 140, 255, 0.699);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.update-button:hover,
.update-button:focus {
  background-color: rgba(0, 140, 255, 0.699);
  color: white;
  border: 0.1em solid rgba(0, 140, 255, 0.699);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.search-info {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0;
}

.categories-container {
  max-width: 70vw;
  margin: auto;
}

.display-info li::-webkit-scrollbar,
.search-info li::-webkit-scrollbar {
  display: none;
}

.display-cover {
  border-radius: 10px;
  display: block;
  height: 8em;
  width: 6em;
  align-self: flex-end;
  transition: 300ms ease;
  margin-bottom: 0.5em;
  flex-grow: 1;
  justify-content: center;
}

.remove-title {
  font-size: 5px;
  z-index: 1;
  padding: 1px;
  border: solid 1px;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  margin-top: 5.5em;
  position: absolute;
  top: 0;
  right: 3em;
  bottom: 0;
}

.remove-title:hover,
.remove-title:focus {
  cursor: pointer;
}

.search-display-cover {
  width: 2em;
  height: 3em;
  border-radius: 5px;
}

.btn-book:disabled {
  cursor: default;
}

.btn-book:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.delete-book-btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.4em 1em 0.4em;
  border: 0.1em solid #4d4d4d;
  text-transform: capitalize;
  border-radius: 10px;
  transition: 250ms ease;
  min-width: 6vw;
  align-self: center;
}

.delete-book-btn:hover,
.delete-book-btn:focus {
  background-color: red;
  color: white;
  border: 0.1em solid red;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
}

.save-add-book,
.cancel-add-book {
  position: absolute;
  bottom: 1em;
  cursor: pointer;
  display: inline-block;
  padding: 0.4em 1em 0.4em;
  border: 0.1em solid #4d4d4d;
  text-transform: capitalize;
  border-radius: 10px;
  transition: 150ms ease;
}

.action-btns-adding {
  position: relative;
}

.save-add-book:hover,
.save-add-book:focus {
  background-color: rgba(0, 140, 255, 0.699);
  color: white;
  border: 0.1em solid rgba(0, 140, 255, 0.699);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.cancel-add-book:hover,
.cancel-add-book:focus {
  background-color: red;
  color: white;
  border: 0.1em solid red;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
}

.cancel-add-book {
  left: 0;
}

.save-add-book {
  right: 0;
}

.ISBN {
  transition: all 250ms ease;
}

.ISBN:hover,
.ISBN:focus {
  color: #000;
  cursor: default;
  transform: scale(1.5);
}

.QRCode {
  margin: 10em 0 5em 0;
}

.adding-books {
  display: flex;
  flex: 1 0 20%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15% auto;
  max-width: 90%;
  max-height: 90%;
  gap: 2em;
}

.adding-books-list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1 0 20%;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
